HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/

IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

VS Code
.vscode/
ortegapp-front/.idea/

# Node
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings



