HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/

IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

VS Code
.vscode/
ortegapp-front/.idea/

# Node
/node_modules
npm-debug.log
yarn-error.log


